*.o
*~
mzn2fzn
solns2out
makefile
Makefile
include/minizinc/parser.tab.hh
lib/lexer.yy.cpp
lib/parser.tab.cpp
core
build/
res/
vendor/
CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
libminizinc.build
libminizinc.xcodeproj
CMakeLists.txt.user
*.bak
*.out
*.err
.vscode/c_cpp_properties.json
